.grid {
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    height: 840px;
    border: solid black;
}

.grid div {
    width: 30px;  
    height: 30px;
}

.pac-dot {
    background-color: rgb(151, 191, 151);
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: green;
    border-radius: 10px;
}

.pac-man {
    /* background-color: yellow; */
    /* border-radius: 10px; */
    /* background-image: url(./img/pacman-2.svg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    z-index: 1;
    animation: pacman 0.2s linear infinite alternate;
}

/* .pacman {
    z-index: 1;
    animation: pacman 0.2s linear infinite alternate;
} */
  
@keyframes pacman {
    0% {
        background-image: url(./img/pacman-1.svg);
        background-size: 100%
    }
    50% {
        background-image: url(./img/pacman-2.svg);
        background-size: 100%

    }
    100% {
        background-image: url(./img/pacman-3.svg);
        background-size: 100%
    }
}


.up {
    transform: rotate(-90deg);
}

.down {
    transform: rotate(90deg);
}

.left {
    transform: rotate(180deg);
}

.right {
    transform: rotate(0deg);
}


.blinky {
    background-color: red;
}

.pinky {
    background-color: pink;
}

.inky {
    background-color: cyan;
}

.clyde {
    background-color: orange;
}

.scared-ghost {   /* fantome appeuré */
    background-color: rgb(24, 25, 25);
} 
